

.login-button{
        color: rgb(33, 85, 50);
        font-size: 15px;
        
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left:20px ;
    }


a{
    color: rgb(33, 85, 50);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px ;
}

.sign-up-page{
    color: rgb(33, 85, 50);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:450px ;

}
