/* Change this to your desired background color */
/* Add more styles if needed */

h2 {
  color: rgb(107, 127, 69);
  text-align: center;
  margin-left: 25px;
}
h3 {
  color: black;
  text-align: center;
  margin-right: 150px;
}


.logo-pic {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.header {
  color: #497C4F;
  margin-left: 150px;
  font-size: 50px;
}
.profile-pic {
  display: flex;
  padding-left: 50px;
  padding-right: 25px;
}
.user {
  padding-left: 10px;
  color: #497C4F;
}
.profile-header {
  padding-bottom: 15px;
}
.create-btn {
  height: 30px;
  width: 300px;
  background-color: #497C4F;
  color: white;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
.recipie-div {
  height: 300px;
  width: 80%;
  background-color: rgb(240, 234, 234);
  display: flex;
  justify-content: start;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.recpie-description {
  display: flex;
  justify-content: flex-end;
}
.btns {
  display: flex;
  align-items: flex-end;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(230, 221, 221, 0.2);
  transition: 0.3s;
  background-color: #F1F1F1;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: rgb(107, 127, 69);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
input {
  margin-right: 20px;
}
textarea {
  background-color: white;
  color: black;
  border-color: #497C4F;
}
.home-link{
color:  rgb(33, 85, 50);
padding-right: 1099px;

}

.add{
  color: #406649be;
  margin-right: 20px;

}

#title{
padding-left: 30px;
margin-left: 20px;
}

#content{
  padding-left: 30px;
  margin-left: 100px;
  
}



.submit-btn{
  color: rgb(33, 85, 50);
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 150px;
  margin-left: 20px;
}
