
   /* Change this to your desired background color */
    /* Add more styles if needed */
  


  h2{
    color: rgb(107, 127, 69);
   text-align:center;
   margin-left: 25px;
   font-family: Arial, Helvetica, sans-serif;
  
  
  }

  h3{
    color: black;
    text-align: center;
    margin-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a:link{
  padding-left: 900px;
  color: #ffffff;
  }

  a:hover{
    color: #497c4f;
  }




  .profile-pic{
  
    display: flex;
    padding-left: 50px;
    padding-right: 25px;
   
   
  }

.user{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #497c4f;
    text-decoration: underline;
  

}
.profile-header{
    padding-bottom: 15px;
}
.create-btn{
    height: 30px;
    width: 300px;
    background-color:#497c4f;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.recipie-div{
    height: 300px;
    width: 80%;
    background-color:  #898b9e;
    display: flex;
    justify-content: start;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.recpie-description{
display: flex;
justify-content: flex-end;
}

.btns{
    display: flex;
    align-items: flex-end;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow:  #898b9e;
    transition: 0.3s;
    background-color: #f1f1f1;
    padding-top: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: rgb(107, 127, 69);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  
.search{
  background-color: #497c4f;
  color: #f1f1f1;
margin-right:1099px;
 
 
}

textarea{
  background-color: white;
  color: black;
  border-color: #497c4f;
  padding-bottom: 30px;
 margin-right: 800px;
}

.add{
  color: #497c4f;
  margin-right: 800px;
  margin-top: 80px;
}



