
  .logo-pic{
  
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  .header{
    color: #3a9645;
     margin-right:150px;
     font-size: 40px;
 
    
   }
   @media (max-width: 768px) {
    header{
        flex-direction: column;
    }
}