/* Header.css */

/* .profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.right-buttons {
  display: inline-block;
  gap: 10px;
}

.button-link {
  text-decoration: none;
}

.button-link button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn button {
  background-color: red;
}
